* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container */
.box {
    text-align: center;
}

/* image */
img {
    width: 50vw;
    height: auto;
}

/* button */
button {
    width: 50vw;
    padding: 2vh;
    border: none;
    font-size: 16px;
    background: linear-gradient(to right, yellow, green);
}

/* hover */
button:hover {
    opacity: 0.9;
}
